* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  font-family: 'Gotham';
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
  color: #162417;
  background: #FEE254;
  transition: 0.3s;
}

.btn:hover {
  background: #EFD44C;
}

.btn.btn-small {
  font-size: 11px;
  padding: 10px 14px;
}

.btn.btn-gray {
  background: #E8EAF1;
}

.btn.btn-gray:hover {
  background: #E0E1E7;
}

h1 {
  margin-bottom: 50px;
  color: #162417;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #162417;
  text-align: left;
  width: 100%;
}

h3 {
  width: 100%;
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  color: #162417;
}

h4 {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 15px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #162417;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

h4.active {
  overflow: unset;
  display: unset;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}

ul, ol {
  width: 100%;
  list-style: none;
  margin-bottom: 20px;
}

ul.center li, ol.center li {
  text-align: center;
}

ul li, ol li {
  width: 95%;
  color: #162417;
  font-weight: normal;
  font-size: 13px;
  line-height: 200%;
  margin-bottom: 5px;
  text-align: left;
  letter-spacing: 0.02em;
  position: relative;
  left: 20px;
}

ul li::before, ol li::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: -20px;
  top: 9px;
  background: #FEE254;
  border-radius: 50%;
}

ol {
  list-style: decimal;
}

ol li::before {
  display: none;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
  background: #025131;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu a {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  padding: 30px 20px;
  transition: 0.3s;
}

.header-menu a:hover {
  background: #096138;
}

.header-menu a.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu a.active::before {
  content: "";
  width: 100%;
  max-width: 71px;
  height: 0px;
  position: absolute;
  bottom: 0px;
  border: 1px solid #FEE254;
}

.header-menu-m {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 30px;
  height: 18px;
}

.header-menu-m span {
  width: 100%;
  height: 1px;
  background: #fff;
  display: block;
}

.section {
  width: 100%;
  min-height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 81px;
  background: #04603A;
}

.section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-block {
  width: 100%;
  max-width: 920px;
  min-height: 458px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.section-block .img {
  position: relative;
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: flex-end;
  text-align: left;
}

.section-block .img img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-block .img span {
  display: block;
  position: relative;
  z-index: 2;
  margin: 20px;
  font-weight: 900;
  font-size: 25px;
  line-height: 140%;
  color: #FEE254;
}

.section-block .text {
  background: #FFFFFF;
  width: 100%;
  max-width: 570px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.section-block .text span {
  width: 100%;
  display: block;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #162417;
  margin-left: 30px;
  max-width: 443px;
}

.section-block .text .btn {
  font-size: 16px;
  line-height: 16px;
  padding: 24px 22px;
  margin-left: 30px;
}

.section-block .text .text-bottom {
  padding: 40px 30px;
  background: #F6F7FB;
}

.section-block .text .text-bottom p {
  font-weight: 500;
  font-size: 13px;
  line-height: 192%;
  color: #798291;
}

.partners {
  min-height: auto;
  width: 100%;
  padding: 80px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bonus {
  margin-bottom: 145px;
  min-height: auto;
  width: 100%;
}

.bonus-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 130px;
}

.bonus-row .item {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bonus-row .item .img {
  margin-bottom: 14px;
}

.bonus-row .item span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  width: 100%;
  color: #162417;
}

.bonus-row .item p {
  font-weight: 500;
  font-size: 13px;
  line-height: 192%;
  color: #798291;
}

.bonus-play {
  width: 100%;
  padding: 50px;
  background: #F6F7FB;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bonus-play span {
  display: block;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 25px;
  line-height: 140%;
  color: #162417;
}

.bonus-play p {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 192%;
  color: #798291;
}

.best-game {
  width: 100%;
  min-height: 750px;
  padding: 70px 0;
  position: relative;
}

.best-game::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: #060907;
}

.best-game .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best-game-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.best-game-title__text {
  width: 100%;
}

.best-game-title__text span {
  display: block;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 25px;
  line-height: 140%;
  color: #FFFFFF;
}

.best-game-title__text p {
  font-weight: 500;
  font-size: 13px;
  line-height: 192%;
  color: #FFFFFF;
}

.best-game-title__img {
  width: 100%;
}

.best-game-title__img img {
  width: 100%;
}

.best-game-row {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.best-game-row .item {
  width: 100%;
  max-width: 160px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  min-height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

.best-game-row .item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

.best-game-row .item:hover::before {
  opacity: .4;
}

.best-game-row .item:hover .btn {
  display: block;
}

.best-game-row .item:hover .demo {
  display: block;
}

.best-game-row .item .btn {
  margin-bottom: 10px;
  display: none;
}

.best-game-row .item .demo {
  color: #fff;
  display: none;
}

.best-game-row .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

.bonus-timer {
  width: 100%;
  min-height: auto;
  padding: 146px 0;
}

.bonus-timer-block {
  width: 100%;
  max-width: 920px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.bonus-timer-block .img {
  width: 100%;
  max-width: 350px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.bonus-timer-block .img img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.bonus-timer-block .img span {
  margin: 20px;
  display: block;
  font-weight: 900;
  font-size: 25px;
  line-height: 140%;
  color: #FEE254;
  position: relative;
  z-index: 2;
}

.bonus-timer-block .text {
  width: 100%;
  max-width: 570px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 50px;
}

.bonus-timer-block .text span {
  display: block;
  margin-left: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #162417;
  max-width: 410px;
  width: 100%;
  margin-bottom: 50px;
}

.bonus-timer-block .text .btn {
  padding: 24px 21px;
  margin-left: 30px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 100%;
}

.bonus-timer-block .text .timer {
  width: 100%;
  background: #F6F7FB;
  display: flex;
  align-items: center;
  padding: 65px 30px;
}

.bonus-timer-block .text .timer img {
  margin-right: 30px;
}

.bonus-timer-block .text .timer .timer-row {
  display: flex;
  align-items: center;
}

.bonus-timer-block .text .timer p {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #798291;
}

.live {
  width: 100%;
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.live::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: #060907;
}

.live .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.live-content span {
  display: block;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 25px;
  line-height: 140%;
  color: #FFFFFF;
}

.live-content p {
  margin-bottom: 40px;
  width: 100%;
  max-width: 445px;
  font-weight: 500;
  font-size: 13px;
  line-height: 192%;
  color: #FFFFFF;
}

.live-content-row {
  margin-bottom: 25px;
  width: 100%;
  max-width: 730px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.live-content-row .item {
  width: 100%;
  max-width: 160px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  min-height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

.live-content-row .item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

.live-content-row .item:hover::before {
  opacity: .4;
}

.live-content-row .item:hover .btn {
  display: block;
}

.live-content-row .item:hover .demo {
  display: block;
}

.live-content-row .item .btn {
  margin-bottom: 10px;
  display: none;
}

.live-content-row .item .demo {
  color: #fff;
  display: none;
}

.live-content-row .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

.live-img {
  margin-bottom: -70px;
}

.fast-pay {
  width: 100%;
  padding: 80px 0;
  background: #04603A;
}

.fast-pay .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fast-pay-left {
  width: auto;
  max-width: 255px;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #FFFFFF;
}

.fast-pay-right {
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.fast-pay-right span {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  max-width: 540px;
  font-weight: 500;
  font-size: 13px;
  line-height: 192%;
  color: #FFFFFF;
}

.faq {
  width: 100%;
  min-height: auto;
  padding: 130px 0;
}

.faq-title {
  margin-bottom: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #F6F7FB;
}

.faq-title span {
  display: block;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 25px;
  line-height: 140%;
  color: #162417;
}

.faq-title p {
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 192%;
  color: #798291;
  margin-bottom: 20px;
}

.faq-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.faq-column .item {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.faq-column .item.active {
  margin-bottom: 0;
}

.faq-column .item.active .item-title img {
  transform: rotate(180deg);
}

.faq-column .item.active .item-content {
  display: flex;
}

.faq-column .item:last-child {
  margin-bottom: 0;
}

.faq-column .item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 50px;
  background: #F6F7FB;
  cursor: pointer;
  transition: 0.3s;
}

.faq-column .item-title:hover {
  background: #E8EAF1;
}

.faq-column .item-title span {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #162417;
}

.faq-column .item-title img {
  transition: 0.3s;
}

.faq-column .item-content {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 50px;
}

.faq-column .item-content span {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 192%;
  color: #798291;
}

.footer {
  width: 100%;
  min-height: auto;
  padding: 78px 0;
  background: #04603A;
}

.footer-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-row__item {
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer-row__item:last-child {
  margin-bottom: 0;
}

.footer-row__item:nth-child(1) {
  width: 40%;
}

.footer-row__item:nth-child(2) {
  width: 20%;
}

.footer-row__item:nth-child(3) {
  width: 30%;
}

.footer-row__item.lg {
  display: none;
}

.footer-row__item span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 200%;
}

.footer-row__item ul {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-row__item ul li {
  width: 50%;
  margin-bottom: 10px;
  left: 0;
}

.footer-row__item ul li::before {
  display: none;
}

.footer-row__item ul li a {
  font-weight: 500;
  font-size: 12px;
  line-height: 208%;
  color: #FFFFFF;
  transition: 0.3s;
}

.footer-row__item ul li a:hover {
  color: #fde247;
}

.footer-row__item .img {
  display: flex;
  width: 140px;
  height: 144px;
}

.footer-row__item .img img {
  width: 100%;
  height: 100%;
}

.footer-row__item .txt {
  margin-top: 30px;
  width: 100%;
  max-width: 351px;
  font-weight: 500;
  font-size: 12px;
  line-height: 208%;
  color: #FFFFFF;
}

.footer-row__item .row-img {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  opacity: 0.5;
}

.footer-coopy {
  width: 100%;
  max-width: 730px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 116px;
}

.footer-coopy img {
  margin-right: 34px;
}

.footer-coopy span {
  font-weight: 500;
  font-size: 12px;
  line-height: 208%;
  display: block;
  color: #FFFFFF;
}

.offer-bonuses {
  width: 100%;
  min-height: auto;
  padding-top: 100px;
}

.offer-bonuses-title {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #162417;
}

.offer-bonuses-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.offer-bonuses-row.mt-0 .item {
  margin-top: 0 !important;
}

.offer-bonuses-row .item {
  width: 100%;
  max-width: 540px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.offer-bonuses-row .item:last-child {
  margin-top: -60px;
}

.offer-bonuses-row .item .img {
  width: 100%;
  min-height: 218px;
  overflow: hidden;
  display: flex;
}

.offer-bonuses-row .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-bonuses-row .item .text {
  border: 2px solid #F6F7FB;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.offer-bonuses-row .item .text-title {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  font-weight: 900;
  font-size: 25px;
  line-height: 140%;
  color: #162417;
}

.offer-bonuses-row .item .text-subtitle {
  margin-bottom: 25px;
  display: block;
  font-weight: bold;
  font-size: 15px;
  line-height: 200%;
  color: #162417;
  width: 100%;
}

.offer-bonuses-row .item .text span {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 192%;
  color: #798291;
}

.offer-bonuses-row .item .text .btn {
  font-size: 16px;
  padding: 22px;
  width: 100%;
  max-width: 100%;
}

.slots {
  width: 100%;
  min-height: auto;
  padding-top: 100px;
  padding-bottom: 20px;
}

.slots .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slots-title {
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #162417;
  text-align: left;
  width: 100%;
}

.slots-row {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.slots-row .item {
  width: 100%;
  max-width: 160px;
  margin-bottom: 23px;
  position: relative;
}

.slots-row .item .img {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  min-height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

.slots-row .item .img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

.slots-row .item .img:hover::before {
  opacity: .4;
}

.slots-row .item .img:hover .btn {
  display: block;
}

.slots-row .item .img:hover .demo {
  display: block;
}

.slots-row .item .img .btn {
  margin-bottom: 10px;
  display: none;
}

.slots-row .item .img .demo {
  color: #fff;
  display: none;
}

.slots-row .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

.slots-row .item span {
  display: block;
  margin-bottom: 1px;
  font-weight: bold;
  font-size: 12px;
  line-height: 125%;
  color: #162417;
}

.slots-row .item p {
  font-weight: 500;
  font-size: 12px;
  line-height: 208%;
  color: #798291;
}

.modal-menu {
  display: none;
}

@media screen and (max-width: 1000px) {
  h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  h3 {
    text-align: center;
    font-size: 16px;
  }
  h4 {
    text-align: center;
    font-size: 14px;
  }
  ul li, ol li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .btn {
    font-size: 10px;
    padding: 10px 20px;
  }
  .header {
    min-height: 60px;
  }
  .header-logo {
    width: 76px;
  }
  .header-logo img {
    width: 100%;
  }
  .header-menu {
    display: none;
  }
  .header-menu-m {
    display: flex;
  }
  .section {
    min-height: 100%;
    padding: 65px 0;
    padding-top: 120px;
  }
  .section-block {
    flex-direction: column;
  }
  .section-block .img {
    text-align: center;
    min-height: 382px;
  }
  .section-block .img span {
    text-align: center;
  }
  .section-block .text {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
  }
  .section-block .text span {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .section-block .text .btn {
    margin-left: 0;
    margin-bottom: 44px;
    font-size: 13px;
    padding: 20px 17px;
  }
  .section-block .text .text-bottom {
    padding: 25px 20px;
  }
  .section-block .text .text-bottom p {
    font-size: 12px;
  }
  .partners .container {
    flex-wrap: wrap;
  }
  .partners .container a {
    width: auto;
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .partners .container a img {
    width: 70%;
  }
  .bonus {
    margin-bottom: 115px;
  }
  .bonus-row {
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  .bonus-row .item {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;
  }
  .bonus-play {
    align-items: center;
    text-align: center;
    padding: 40px 13px;
  }
  .bonus-play p {
    font-size: 12px;
  }
  .best-game {
    min-height: 100%;
    padding: 60px 0;
  }
  .best-game-title {
    flex-direction: column;
  }
  .best-game-title__text {
    text-align: center;
    margin-bottom: 60px;
  }
  .best-game-title__text p {
    font-size: 12px;
  }
  .bonus-timer {
    padding: 111px 0;
  }
  .bonus-timer-block {
    flex-direction: column;
  }
  .bonus-timer-block .img {
    min-height: 382px;
    text-align: center;
  }
  .bonus-timer-block .text {
    align-items: center;
    text-align: center;
    padding-top: 25px;
  }
  .bonus-timer-block .text span {
    margin-left: 0;
    margin-bottom: 30px;
    font-size: 20px;
  }
  .bonus-timer-block .text .btn {
    margin-left: 0;
    margin-bottom: 44px;
    padding: 20px 50px;
    font-size: 13px;
  }
  .bonus-timer-block .text .timer {
    flex-direction: column;
    justify-content: center;
    padding: 37px 10px;
  }
  .bonus-timer-block .text .timer img {
    margin-right: 0;
  }
  .bonus-timer-block .text .timer .timer-row {
    margin-top: 40px;
  }
  .bonus-timer-block .text .timer .timer-row p {
    font-size: 30px;
  }
  .live .container {
    flex-direction: column;
  }
  .live-content {
    align-items: center;
    text-align: center;
  }
  .live-content span {
    margin-bottom: 25px;
    font-size: 25px;
  }
  .live-content p {
    margin-bottom: 70px;
    font-size: 12px;
  }
  .live-img {
    display: none;
  }
  .fast-pay .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .fast-pay-left {
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .fast-pay-left br {
    display: none;
  }
  .fast-pay-right {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .fast-pay-right span {
    margin-bottom: 70px;
    font-size: 12px;
  }
  .faq {
    padding: 80px 0;
  }
  .faq-title {
    align-items: center;
    text-align: center;
    padding: 40px 20px;
  }
  .faq-title span {
    margin-bottom: 25px;
    font-size: 25px;
    text-align: center;
  }
  .faq-title p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 12px;
  }
  .faq-column .item-title {
    padding: 33px 20px;
  }
  .faq-column .item-title span {
    width: 80%;
    font-size: 15px;
    line-height: 167%;
  }
  .faq-column .item-content {
    padding: 20px;
  }
  .faq-column .item-content span {
    font-size: 12px;
    line-height: 208%;
  }
  .footer {
    padding: 50px 0;
    min-height: 100%;
  }
  .footer-row__item {
    width: 100% !important;
    max-width: 100% !important;
  }
  .footer-row__item:nth-child(2) {
    display: none;
  }
  .footer-row__item.lg {
    display: block;
    margin-bottom: 0;
  }
  .footer-row__item.lg .img {
    width: 65px;
    height: 67px;
  }
  .footer-row__item.lg .img img {
    width: 100%;
    height: 100%;
  }
  .footer-row__item .row-img {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-row__item .row-img:nth-child(3) {
    margin-top: 0;
  }
  .footer-row__item .row-img a {
    margin-bottom: 25px;
  }
  .footer-row__item .row-img a img {
    width: 80%;
  }
  .footer-coopy {
    display: none;
  }
  .offer-bonuses {
    padding: 50px 0;
    padding-bottom: 0;
  }
  .offer-bonuses-title {
    margin-bottom: 60px;
    font-size: 20px;
    max-width: 80%;
  }
  .offer-bonuses-row .item {
    margin-bottom: 40px;
    margin-top: 0 !important;
  }
  .offer-bonuses-row .item .img {
    min-height: 140px;
  }
  .offer-bonuses-row .item .text {
    padding: 18px;
  }
  .offer-bonuses-row .item .text-title {
    margin-bottom: 16px;
    font-size: 16.0185px;
  }
  .offer-bonuses-row .item .text-subtitle {
    margin-bottom: 16px;
    font-size: 9.61111px;
  }
  .offer-bonuses-row .item .text span {
    margin-bottom: 16px;
    font-size: 8.32963px;
  }
  .offer-bonuses-row .item .text .btn {
    padding: 14px;
    font-size: 10.2519px;
  }
  .slots {
    padding: 50px 0;
    padding-bottom: 0;
  }
  .slots-title {
    margin-bottom: 60px;
    font-size: 20px;
    text-align: left;
  }
  .slots-row .item {
    max-width: 48%;
    margin-bottom: 40px;
  }
  .modal-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: #fff;
    padding: 15px 0;
  }
  .modal-menu.active {
    display: block;
  }
  .modal-menu-close {
    position: absolute;
    right: 15px;
    top: 30px;
  }
  .modal-menu .header-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40%;
  }
  .modal-menu .header-menu a {
    width: 100%;
    color: #000;
  }
}
