
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; 
    -webkit-appearance: none;
    font-family: 'Gotham';
}
a {
    color: #000;
    text-decoration: none;
}


.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    padding: 12px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 133%;
    text-transform: uppercase;
    color: #162417; 
    background: #FEE254;
    transition: 0.3s;
    &:hover {
        background: #EFD44C;
    }
    &.btn-small {
        font-size: 11px;
        padding: 10px 14px;
    }
    &.btn-gray {
        background: #E8EAF1;
        &:hover {
            background: #E0E1E7;
        }
    }
}

// тайтл
h1 {
    margin-bottom: 50px;
    color: #162417;
    width: 100%;
}
h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 133%;
    color: #162417;
    text-align: left;
    width: 100%;
}
h3{
    width: 100%;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    color: #162417;
}
h4 {
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
    text-align: left;
    letter-spacing: 0.02em;

    color: #162417;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    &.active {
        overflow: unset;
        display: unset;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;  
    }
}
ul, ol {
    width: 100%;
    list-style: none;
    margin-bottom: 20px;
    &.center {
        li {
            text-align: center;
        }
        
    }
    li {
        width: 95%;
        color: #162417;
        font-weight: normal;
        font-size: 13px;
        line-height: 200%;
        margin-bottom: 5px;
        text-align: left;
        letter-spacing: 0.02em;
        position: relative;
        left: 20px;
        &::before {
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            left: -20px;
            top: 9px;
            background: #FEE254;
            border-radius: 50%;
        }
    }
}
ol {
    list-style: decimal;
    li {
        &::before {
            display: none;
        }
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 40;
    background: #025131;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header-menu {
    display: flex;
    align-items: center;
    a {
        font-weight: 500;
        font-size: 12px;
        line-height: 117%;
        text-transform: uppercase;
        color: #FFFFFF;
        position: relative;
        padding: 30px 20px;
        transition: 0.3s;
        &:hover {
            background: #096138;
        }
        &.active {
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content: "";
                width: 100%;
                max-width: 71px;
                height: 0px;
                position: absolute;
                bottom: 0px;
                border: 1px solid #FEE254;
            }
        }
    }
}
.header-menu-m {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30px;
    height: 18px;
    span {
        width: 100%;
        height: 1px;
        background: #fff;
        display: block;
    }
}

.section {
    width: 100%;
    min-height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 81px;
    background: #04603A;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
.section-block {
    width: 100%;
    max-width: 920px;
    min-height: 458px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    .img {
        position: relative;
        width: 100%;
        max-width: 350px;
        display: flex;
        align-items: flex-end;
        text-align: left;

        img {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            
        }
        span {
            display: block;
            position: relative;
            z-index: 2;
            margin: 20px;
            font-weight: 900;
            font-size: 25px;
            line-height: 140%;
            color: #FEE254;
        }
    }
    .text {
        background: #FFFFFF;
        width: 100%;
        max-width: 570px;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        span {
            width: 100%;
            display: block;
            margin-bottom: 50px;
            font-weight: bold;
            font-size: 30px;
            line-height: 133%;
            color: #162417;
            margin-left: 30px;
            max-width: 443px;
        }
        .btn {
            font-size: 16px;
            line-height: 16px;
            padding: 24px 22px;
            margin-left: 30px;
        }
        .text-bottom {
            padding: 40px 30px;
            background: #F6F7FB;
            p {
                font-weight: 500;
                font-size: 13px;
                line-height: 192%;
                color: #798291; 
            }
        }
    }
}

.partners {
    min-height: auto;
    width: 100%;
    padding: 80px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.bonus {
    margin-bottom: 145px;
    min-height: auto;
    width: 100%;

}
.bonus-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 130px;
    .item {
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .img {
            margin-bottom: 14px;
        }
        span {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 16px;
            line-height: 100%;
            text-transform: uppercase;
            width: 100%;
            color: #162417;
        }
        p {
            font-weight: 500;
            font-size: 13px;
            line-height: 192%;

            color: #798291; 
        }
    }
}
.bonus-play {
    width: 100%;
    padding: 50px;
    background: #F6F7FB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
        display: block;
        margin-bottom: 20px;
        font-weight: 900;
        font-size: 25px;
        line-height: 140%;
        color: #162417;
    }
    p {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 13px;
        line-height: 192%;
        color: #798291;
    }
    .btn {

    }
}

.best-game {
    width: 100%;
    min-height: 750px;
    padding: 70px 0;
  
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: #060907;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.best-game-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    &__text {
        width: 100%;
        span {
            display: block;
            margin-bottom: 20px;
            font-weight: 900;
            font-size: 25px;
            line-height: 140%;
            color: #FFFFFF;
        }
        p {
            font-weight: 500;
            font-size: 13px;
            line-height: 192%;
            color: #FFFFFF;
        }
    }
    &__img {
        width: 100%;
        img {
            width: 100%;
        }
    }
}
.best-game-row {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .item {
        width: 100%;
        max-width: 160px;
        display: flex;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 30px;
        min-height: 160px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.3s;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #000;
            opacity: 0;
            transition: 0.3s;
            z-index: -1;   
        }
        &:hover {
            &::before {
                opacity: .4;
            }
            .btn {
                display: block;
            }
            .demo {
                display: block;
            }
        }
        .btn {
            margin-bottom: 10px;
            display: none;
        }
        .demo {
            color: #fff;
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -2;
        }
    }
}

.bonus-timer {
    width: 100%;
    min-height: auto;
    padding: 146px 0;

}
.bonus-timer-block {
    width: 100%;
    max-width: 920px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    .img {
        width: 100%;
        max-width: 350px;
        position: relative;
        display: flex;
        align-items: flex-end;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
        }
        span {
            margin: 20px;
            display: block;
            font-weight: 900;
            font-size: 25px;
            line-height: 140%;
            color: #FEE254;
            position: relative;
            z-index: 2;
        }
    }
    .text {
        width: 100%;
        max-width: 570px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 50px;
        span {
            display: block;
            margin-left: 30px;
            font-weight: bold;
            font-size: 30px;
            line-height: 133%;
            color: #162417;
            max-width: 410px;
            width: 100%;
            margin-bottom: 50px;
        }
        .btn {
            padding: 24px 21px;
            margin-left: 30px;
            margin-bottom: 60px;
            font-size: 16px;
            line-height: 100%;
        }
        .timer {
            width: 100%;
            background: #F6F7FB;
            display: flex;
            align-items: center;
            padding: 65px 30px;
            img {
                margin-right: 30px;
            }
            .timer-row {
                display: flex;
                align-items: center;
            }
            p {
                font-weight: 500;
                font-size: 40px;
                line-height: 100%;
                color: #798291;
            }
        }
    }
}

.live {
    width: 100%;
    padding: 60px 0;
    
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: #060907;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.live-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
        display: block;
        margin-bottom: 20px;
        font-weight: 900;
        font-size: 25px;
        line-height:140%;
        color: #FFFFFF;
    }
    p {
        margin-bottom: 40px;
        width: 100%;
        max-width: 445px;
        font-weight: 500;
        font-size: 13px;
        line-height: 192%;
        color: #FFFFFF;
    }
    &-row {
        margin-bottom: 25px;
        width: 100%;
        max-width: 730px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .item {
            width: 100%;
            max-width: 160px;
            display: flex;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 30px;
            min-height: 160px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 0.3s;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: #000;
                opacity: 0;
                transition: 0.3s;
                z-index: -1;   
            }
            &:hover {
                &::before {
                    opacity: .4;
                }
                .btn {
                    display: block;
                }
                .demo {
                    display: block;
                }
            }
            .btn {
                margin-bottom: 10px;
                display: none;
            }
            .demo {
                color: #fff;
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -2;
            }
        }
    }

}
.live-img {
    margin-bottom: -70px;
}

.fast-pay {
    width: 100%;
    padding: 80px 0;
    background: #04603A;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.fast-pay-left {
    width: auto;
    max-width: 255px;
    font-weight: bold;
    font-size: 30px;
    line-height: 133%;
    color: #FFFFFF;
    
}
.fast-pay-right {
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    span {
        display: block;
        margin-bottom: 30px;
        width: 100%;
        max-width: 540px;
        font-weight: 500;
        font-size: 13px;
        line-height: 192%;
        color: #FFFFFF;
    }

}

.faq {
    width: 100%;
    min-height: auto;
    padding: 130px 0;

}
.faq-title {
    margin-bottom: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F6F7FB;
    span {
        display: block;
        margin-bottom: 20px;
        font-weight: 900;
        font-size: 25px;
        line-height: 140%;
        color: #162417;
        
    }
    p {
        width: 100%;
        font-weight: 500;
        font-size: 13px;
        line-height: 192%;
        color: #798291;
        margin-bottom: 20px;
    }
    
}
.faq-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    .item {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &.active {
            margin-bottom: 0;
            .item-title {
                img {
                    transform: rotate(180deg);
                }
            }
            .item-content {
                display: flex;
              
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 30px 50px;
            background: #F6F7FB;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background: #E8EAF1;  
            }
            span {
                display: block;
                width: 100%;
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                color: #162417;
                
            }
            img {
                transition: 0.3s;
            }
        }
        &-content {
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 50px;
            span {
                display: block;
                font-weight: 500;
                font-size: 13px;
                line-height: 192%;
                color: #798291;
            }
        }
    }
}

.footer {
    width: 100%;
    min-height: auto;
    padding: 78px 0;
    background: #04603A;
}
.footer-row {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
        width: 100%;
        margin-bottom: 70px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(1) {
            width: 40%;
        }
        &:nth-child(2) {
            width: 20%;
        }
        &:nth-child(3) {
            width: 30%;
        }
        &.lg {
            display: none;
        }
        span {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 15px;
            color: #FFFFFF;
            line-height: 200%;
        }
        ul {
            width: 100%;
            max-width: 300px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
          
            li {
                width: 50%;
                margin-bottom: 10px;
                left: 0;
                &::before {
                 
                    display: none ;
                }
                a {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 208%;
                    color: #FFFFFF;
                    transition: 0.3s;
                    &:hover {
                        color: #fde247;
                    }
                }
            }
        }
        .img {
            display: flex;
            width: 140px;
            height: 144px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .txt {
            margin-top: 30px;
            width: 100%;
            max-width: 351px;
            font-weight: 500;
            font-size: 12px;
            line-height: 208%;
            color: #FFFFFF;
        }
        .row-img {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            opacity: 0.5;
        }
    }
}
.footer-coopy {
    width: 100%;
    max-width: 730px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 116px;
    img {
        margin-right: 34px;

    }
    span {
        font-weight: 500;
        font-size: 12px;
        line-height: 208%;
        display: block;
        color: #FFFFFF;
        
    }
}

.offer-bonuses {
    width: 100%;
    min-height: auto;
    padding-top: 100px;
}
.offer-bonuses-title {
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 30px;
    line-height: 133%;
    color: #162417;
}
.offer-bonuses-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    &.mt-0 {
        .item {
            margin-top: 0 !important;
        }
     
    }
    .item {
        width: 100%;
        max-width: 540px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
     
        &:last-child {
            margin-top: -60px;
        }
        .img {
            width: 100%;
            min-height: 218px;
            overflow: hidden;
            display: flex;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text {
            border: 2px solid #F6F7FB;
            padding: 35px 30px;
            display: flex;
            flex-direction: column;
            width: 100%;
            &-title {
                display: block;
                margin-bottom: 25px;
                width: 100%;
                font-weight: 900;
                font-size: 25px;
                line-height: 140%;
                color: #162417;
            }
            &-subtitle {
                margin-bottom: 25px;
                display: block;
                font-weight: bold;
                font-size: 15px;
                line-height: 200%;
                color: #162417;
                width: 100%;
            }
            span {
                display: block;
                margin-bottom: 25px;
                width: 100%;
                font-weight: 500;
                font-size: 13px;
                line-height: 192%;
                color: #798291;
            }
            .btn {
                font-size: 16px;
                padding: 22px;
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

.slots {
    width: 100%;
    min-height: auto;
    padding-top: 100px;
    padding-bottom: 20px;
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
.slots-title {
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 30px;
    line-height: 133%;
    color: #162417;
    text-align: left;
    width: 100%;
}
.slots-row {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    .item {
        width: 100%;
        max-width: 160px;
        margin-bottom: 23px;
        position: relative;
        .img {
            width: 100%;
            display: flex;
            margin-bottom: 10px;
            border-radius: 5px;
            overflow: hidden;
            min-height: 160px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 0.3s;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: #000;
                opacity: 0;
                transition: 0.3s;
                z-index: -1;   
            }
            &:hover {
                &::before {
                    opacity: .4;
                }
                .btn {
                    display: block;
                }
                .demo {
                    display: block;
                }
            }
            .btn {
                margin-bottom: 10px;
                display: none;
            }
            .demo {
                color: #fff;
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -2;
            }

        }
        span {
            display: block;
            margin-bottom: 1px;
            font-weight: bold;
            font-size: 12px;
            line-height: 125%;
            color: #162417; 
        }
        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 208%;
            color: #798291;
        }
    }
}

.modal-menu {
    display: none;
}

@media screen and (max-width:1000px) {
    h1 {
        margin-bottom: 20px;
    
        font-size: 30px;
        
    }
    h2 {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
    }
    h3{
        text-align: center;
        font-size: 16px;

    }
    h4 {
        text-align: center;
        font-size: 14px;

    }
    ul, ol {
        li {
            font-size: 13px;
            margin-bottom: 10px;

        }
    }
    .btn {
        font-size: 10px;
        padding: 10px 20px;
    }

    .header {
        min-height: 60px;
    }
    .header-logo {
        width: 76px;
        img {
            width: 100%;
        }
    }
    .header-menu {
        display: none;
    }
    .header-menu-m {
        display: flex;
    }

    .section {
        min-height: 100%;
        padding: 65px 0;
        padding-top: 120px;
    }
    .section-block {
        flex-direction: column;
        .img {
            text-align: center;
            min-height: 382px;
            span {
                text-align: center;
             
            }
        }
        .text {
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-top: 25px;
            span {
                text-align: center;
                font-size: 20px;
                margin-bottom: 30px;
                margin-left: 0;
            }
            .btn {
                margin-left: 0;
                margin-bottom: 44px;
                font-size: 13px;
                padding: 20px 17px;

            }
            .text-bottom { 
                padding: 25px 20px;
                p {
                    font-size: 12px;
                }
            }
        }
    }

    .partners {
        .container {
            flex-wrap: wrap;
            a {
                width: auto;
                display: flex;
                width: 25%;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;
                img {
                    width: 70%;
                }
            }
        }
    }

    .bonus {
        margin-bottom: 115px;
    }
    .bonus-row {
        margin-bottom: 0;
        flex-wrap: wrap;
        .item {
            max-width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 70px;
        }
    }
    .bonus-play {
        align-items: center;
        text-align: center;
        padding: 40px 13px;
        p {
            font-size: 12px;
        }
    }

    .best-game {
        min-height: 100%;
        padding: 60px 0;
    }
    .best-game-title {
        flex-direction: column;
        &__text {
            text-align: center;
            margin-bottom: 60px;
            p {
                font-size: 12px;
            }
        }
    }

    .bonus-timer {
        padding: 111px 0;
    }
    .bonus-timer-block {
        flex-direction: column;
        .img {
            min-height: 382px;
            text-align: center;
        }
        .text {
            align-items: center;
            text-align: center;
            padding-top: 25px;
            span {
              
                margin-left: 0;
                margin-bottom: 30px;
                font-size: 20px;
            }
            .btn {
                margin-left: 0;
                margin-bottom: 44px;
                padding: 20px 50px;
                font-size: 13px;
            }
            .timer {
                flex-direction: column;
                justify-content: center;
                padding: 37px 10px;
                img {
                    margin-right: 0;
                }
                .timer-row {
                    margin-top: 40px;
                    p {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .live {
        .container {
            flex-direction: column;
        }
    }
    .live-content {
        align-items: center;
        text-align: center;
        span {
            margin-bottom: 25px;
            font-size: 25px;
        }
        p {
            margin-bottom: 70px;
            font-size: 12px;
        }
        &-row {
            
        }
    }
    .live-img {
        display: none;
    }

    .fast-pay {
        .container {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
    .fast-pay-left {
        width: 100%;
        max-width: 100%;
        font-size: 20px;
        margin-bottom: 25px;
        br {
            display: none;
        }
    }
    .fast-pay-right {
        width: 100%;
        align-items: center;
        text-align: center;
        span {
            margin-bottom: 70px;
            font-size: 12px;
        }
    }

    .faq {
        padding: 80px 0;
    }
    .faq-title {
        align-items: center;
        text-align: center;
        padding: 40px 20px;
        span {
            margin-bottom: 25px;
            font-size: 25px;
            text-align: center;
        }
        p {
            text-align: center;
            margin-bottom: 40px;
            font-size: 12px;
        }
    }
    .faq-column {
        .item {
            &-title {
                padding: 33px 20px;
                span {
                    width: 80%;
                    font-size: 15px;
                    line-height: 167%;
                }
            }
            &-content {
                padding: 20px;
                span {
                    font-size: 12px;
                    line-height: 208%;
                }
            }
        }
    }

    .footer {
        padding: 50px 0;
        min-height: 100%;
    }
    .footer-row {
        &__item {
            width: 100% !important; 
            max-width: 100% !important;
            &:nth-child(2) {
                display: none;
            }
            &.lg {
                display: block;
                margin-bottom: 0;
                .img {
                    width: 65px ;
                    height: 67px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .row-img {
                flex-wrap: wrap;
                justify-content: flex-start;
                &:nth-child(3) {
                    margin-top: 0;
                }
                a {
                    margin-bottom: 25px;
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }
    .footer-coopy {
        display: none;
    }

    .offer-bonuses {
        padding: 50px 0;
        padding-bottom: 0;
    }
    .offer-bonuses-title {
        margin-bottom: 60px;
        font-size: 20px;
        max-width: 80%;
    }
    .offer-bonuses-row {
        .item {
            margin-bottom: 40px;
            margin-top: 0 !important;
            .img {
                min-height: 140px;
            }
            .text {
                padding: 18px;
                &-title {
                    margin-bottom: 16px;
                    font-size: 16.0185px;
                }
                &-subtitle {
                    margin-bottom: 16px;
                    font-size: 9.61111px;
                }
                span {
                    margin-bottom: 16px;
                    font-size: 8.32963px;
                }
                .btn {
                    padding: 14px;
                    font-size: 10.2519px;
                }
            }
        }
    }

    .slots {
        padding: 50px 0;
        padding-bottom: 0;
    }
    .slots-title {
        margin-bottom: 60px;
        font-size: 20px;
        text-align: left;
    }
    .slots-row {
        .item {
            max-width: 48%;
            margin-bottom: 40px;
        }
    }

    .modal-menu {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
        background: #fff;
        padding: 15px 0;
        &.active {
            display: block;
        }
        &-close {
            position: absolute;
            right: 15px;
            top: 30px;

        }
        .header-menu {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 40%;
            a {
                width: 100%;
                color: #000;
            }
        }
    }
}